@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Zinc-950 for background */
		--background: #09090b;
		/* Zinc-50 for text */
		--foreground: #fafafa;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #27272a;
	/* zinc-800 */
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #3f3f46;
	/* zinc-700 */
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #27272a transparent;
}